{% extends 'base.html' %} {% block body %}

<h2>Pair Programming</h2>
<h3>Carl Robelo & Christina Kaufman</h3>
<hr />
<main>
  <img
    class="img-fluid"
    src="{{ url_for('static', filename='images/Image.jpg') }}"
    width="500"
    alt="Carl & Christina"
  />
  <h>
    This website will display a survey about which sports do you prefer to
    watch! In addition to that, it will also ask you if you watch these sports
    on streaming services, and if you do, which streaming services you prefer to
    use.
  </h>
</main>
{% endblock %}
